a{
    text-decoration: none;
}

.Sidebar{
    max-width: 20vw;
}

.heading{
    padding: 0px 2vw;
    font-size: 32px;
}

.friends{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active{

}

@media (max-width: 500px) {
    .heading{
        font-size: 3vw;
    }
}