.Post{
    width: 100%;
    margin: 30px 10px;
    display: flex;
    align-items: center;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: yellow;
    margin-right: 20px;
}

.text{
    
}