.Login{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginForm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading{
    font-size: 64px;
    margin-bottom: 0px;
}

.input{
    outline: none;
    font-size: 32px;
    border: 0px black solid;
    border-bottom-width: 1px;
    margin: 20px 0px;
    text-align: center;
}

.checkbox{

}

.btn{
    font-size: 32px;
    outline: none;
    background-color: #313186;
    color: white;
    border-radius: 20px;
    border-width: 0px;
    padding: 10px 0px;
    width: 20%;
    margin-top: 20px;
}

.btn:active, .btn:hover{
    background-color: #4242b6;
    cursor: pointer;
}