.UserList{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px 30px;
    overflow: scroll;
    width: 100%;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column{
    display: flex;
    flex-direction: column;
}

.btn{
    outline: none;
    font-size: 24px;
    border-radius: 20px;
    padding: 10px 10px;
    color: white;
    background-color: #313186;
}

.btn:active{
    background-color: #4242b6;
}

.btns_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.page_counter{
    font-size: 24px;
}