.UserListItem{
    display: flex;
    flex-direction: row;
}

.meta{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.avatar {
    width: 100px;
    height: 100px;
    border: 0px solid;
    border-radius: 50%;
    margin-bottom: 15px;
}

.btn{
    outline: none;
    border: none;
    font-size: 24px;
    color: white;
    border-radius: 20px;
}

.follow{
    background-color: #1C8529;
}

.follow:active{
    background-color: #3EB04C;
}

.unfollow{
    background-color: darkred;
}

.unfollow:active{
    background-color: brown;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    cursor: auto;
}

.login{
    cursor: pointer;
    text-decoration: none;
    font-size: 32px;
    color: #313186;
}