.Dialog{
    margin: 10px 10px;
    font-size: 3vw;
    width: 50vw;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.button{
    outline: none;
    font-size: 2vw;
    margin-top: 10px;
    border-width: 0px;
    border-radius: 20px;
    background-color: #1C8529;
    color: white;
    cursor: pointer;
}

.button:active{
    background-color: #3EB04C ;
}