.user{
    margin: 10px 3px;
    width: 15vw;
}

.link{
    font-size: 3vw;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    color: black;
    border-radius: 20px;
    transition: 0.3s linear all;
    padding: 0.5vw 0.5vw;
}

.active, .link:hover{
    color: white;
    background-color: rgba(44, 55, 115, 1);
}